h1{
    text-align: center;
    text-decoration: underline;
    color: white;
}
body{
    background-color: #595959;
}

a{
    color: lightgreen;
}
li{
    color:white;
}
#Rasmalai{
    color: yellow;
}
#gulab-jamun{
    color:#6e2516;
}